@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 900;
  src: url(/fonts/Pretendard-Black.woff2) format("woff2"),
    url(/fonts/Pretendard-Black.woff) format("woff");
  font-display: SWAP;
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 800;
  src: url(/fonts/Pretendard-ExtraBold.woff2) format("woff2"),
    url(/fonts/Pretendard-ExtraBold.woff) format("woff");
  font-display: SWAP;
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/Pretendard-Bold.woff2) format("woff2"),
    url(/fonts/Pretendard-Bold.woff) format("woff");
  font-display: SWAP;
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  src: url(/fonts/Pretendard-SemiBold.woff2) format("woff2"),
    url(/fonts/Pretendard-SemiBold.woff) format("woff");
  font-display: SWAP;
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  src: url(/fonts/Pretendard-Medium.woff2) format("woff2"),
    url(/fonts/Pretendard-Medium.woff) format("woff");
  font-display: SWAP;
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Pretendard-Regular.woff2) format("woff2"),
    url(/fonts/Pretendard-Regular.woff) format("woff");
  font-display: SWAP;
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/Pretendard-Light.woff2) format("woff2"),
    url(/fonts/Pretendard-Light.woff) format("woff");
  font-display: SWAP;
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 200;
  src: url(/fonts/Pretendard-ExtraLight.woff2) format("woff2"),
    url(/fonts/Pretendard-ExtraLight.woff) format("woff");
  font-display: SWAP;
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 100;
  src: url(/fonts/Pretendard-Thin.woff2) format("woff2"),
    url(/fonts/Pretendard-Thin.woff) format("woff");
  font-display: SWAP;
}

@font-face {
  font-family: "NotoSerifTibetan";
  font-style: normal;
  font-weight: 100;
  src: url(/fonts/NotoSerifTibetan-Thin.ttf) format("truetype");
  font-display: SWAP;
}

@font-face {
  font-family: "NotoSerifTibetan";
  font-style: normal;
  font-weight: 200;
  src: url(/fonts/NotoSerifTibetan-ExtraLight.ttf) format("truetype");
  font-display: SWAP;
}

@font-face {
  font-family: "NotoSerifTibetan";
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/NotoSerifTibetan-Light.ttf) format("truetype");
  font-display: SWAP;
}

@font-face {
  font-family: "NotoSerifTibetan";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/NotoSerifTibetan-Regular.ttf) format("truetype");
  font-display: SWAP;
}

@font-face {
  font-family: "NotoSerifTibetan";
  font-style: normal;
  font-weight: 500;
  src: url(/fonts/NotoSerifTibetan-Medium.ttf) format("truetype");
  font-display: SWAP;
}

@font-face {
  font-family: "NotoSerifTibetan";
  font-style: normal;
  font-weight: 600;
  src: url(/fonts/NotoSerifTibetan-SemiBold.ttf) format("truetype");
  font-display: SWAP;
}

@font-face {
  font-family: "NotoSerifTibetan";
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/NotoSerifTibetan-Bold.ttf) format("truetype");
  font-display: SWAP;
}

@font-face {
  font-family: "NotoSerifTibetan";
  font-style: normal;
  font-weight: 800;
  src: url(/fonts/NotoSerifTibetan-ExtraBold.ttf) format("truetype");
  font-display: SWAP;
}

@font-face {
  font-family: "NotoSerifTibetan";
  font-style: normal;
  font-weight: 900;
  src: url(/fonts/NotoSerifTibetan-Black.ttf) format("truetype");
  font-display: SWAP;
}

@font-face {
  font-family: "LibreBaskerville";
  font-style: noraml;
  font-weight: 400;
  src: url(/fonts/LibreBaskerville-Italic.ttf) format("truetype");
  font-display: SWAP;
}

.scrollNone {
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}
.scrollNone::-webkit-scrollbar {
  display: none;
}

.scrollCustom::-webkit-scrollbar {
  display: block;
  width: 10px;
}
.scrollCustom::-webkit-scrollbar-track {
  background-color: transparent;
}
.scrollCustom::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  background-clip: padding-box;
  border: 3px solid transparent;
}

.bright.scrollCustom::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
}

.scrollXCustom::-webkit-scrollbar {
  display: block;
  height: 1.51rem;
}
.scrollXCustom::-webkit-scrollbar-track {
  background-color: transparent;
}
.scrollXCustom::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  background-clip: padding-box;
  border-top: 0.7rem solid transparent;
  border-bottom: 0.7rem solid transparent;
}
